<nav class="navbar">
  <div class="navbar-left">
    <a routerLink="/" class="navbar-brand">Melissa Liñán <img src="assets/favico.png"></a>
  </div>
  <div class="navbar-right">
    <a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Home</a>
    <a routerLink="/experiencia" routerLinkActive="active-link">Experiencia</a>
    <a routerLink="/estudios" routerLinkActive="active-link">Estudios</a>
    <a routerLink="/sobre-mi" routerLinkActive="active-link">Sobre mí</a>
    <a routerLink="/contacto" routerLinkActive="active-link">Contacto</a>
  </div>
</nav>
