<div class="home-container">
  <div class="home-content">
    <div class="text-section">
      <h1>Hola, soy Melissa</h1>
      <h4>
        Estudiante de Primer año de Grado Superior de Desarrollo de Aplicaciones Multiplataformas
      </h4>
      <p>Esta es mi página personal, en la que podrá conocer un poco más sobre mis intereses, mi formación y experiencia laboral.
        ¡Espero su feedback!</p>
    </div>
    <div class="image-section">
      <img src="assets/fotomia.jpg" alt="Fotomia">
    </div>
  </div>
</div>
