<div class="contacto-container">
  <div class="formulario">
    <h2>Contáctame</h2>
    <form>
      <label for="nombre">Nombre</label>
      <input type="text" id="nombre" name="nombre" required>

      <label for="email">Correo electrónico</label>
      <input type="email" id="email" name="email" required>

      <label for="mensaje">Mensaje</label>
      <textarea id="mensaje" name="mensaje" rows="5" required></textarea>

      <button type="submit">Enviar</button>
    </form>
  </div>

  <div class="datos-contacto">
    <h3>Información de Contacto</h3>
    <p><img src="assets/icons8-github-48.png"> <a href="https://github.com/MelissaLinanGonzalez" target="_blank">MelissaLinanGonzalez</a></p>
    <p><img src="assets/icons8-phone-48.png"> +34 123 456 789</p>
    <p><img src="assets/icons8-gmail-48.png"> melissalinangonzalezgmail.com</p>
  </div>
</div>
