<div class="estudios-container">
  <h2>Mis Estudios</h2>
  <table class="estudios-table">
    <tr>
      <th>Título</th>
      <th>Institución</th>
      <th>Año</th>
    </tr>
    <tr>
      <td>Grado Superior de Automatización y Robótica Industrial</td>
      <td>Salesiano San Luis Rey (Palma del Río, Córdoba)</td>
      <td>Septiembre-2021 / Junio-2023</td>
    </tr>
    <tr>
      <td>Grado Superior de Desarrollo de Aplicaciones Multiplataformas</td>
      <td>IES Antonio Gala (Palma del Río, Córdoba)</td>
      <td>Septiembre 2024 / Actualidad</td>
    </tr>
  </table>
  <div>
    <h3>Otros datos de interés</h3>
    <p><span class="emoji">📄</span> Certificado de Garantía Juvenil</p>
    <p><span class="emoji">💻</span> Título de Desarrollo Web para Comercio Electrónico (150h online)</p>
    <p><span class="emoji">🔧</span> Conocimientos sobre PLCs con TIA PORTAL</p>
    <p><span class="emoji">📐</span> Realización de planos en 2D con AutoCad</p>
    <p><img src="assets/icons8-solidworks-48.png"> Diseño en 3D con SolidWorks y SolidEdge</p>
    <p><img src="assets/icons8-virtualbox-48.png"> Manejo de máquinas virtuales con VirtualBox y VMware</p>
    <p><span class="emoji">🤖</span> Programación de brazos robóticos con Ciros</p>
    <p><img src="assets/icons8-mysql-48.png"> Manejo de Bases de Datos con MySQL</p>
    <p><img src="assets/icons8-git-48.png"><img src="assets/icons8-gitlab-48.png"><img src="assets/icons8-github-48.png"> Uso de control de versiones: Git, GitLab y GitHub</p>
  </div>
</div>
